.choose {
  border-radius: 5px;
  background-color: $red;
  box-shadow: 2px 5px 2px 0px #9bfde4;
  padding: 70px 35px;
  font-size: 5em;
  font-family: 'Itim', sans-serif;
  margin: 54px 20px;
  text-decoration: none;
  color: black;
  width: 4em;
}

.h3-chooce {
  font-family: 'Itim', cursive;
  font-size: 4.8em;
}
