.footer {
  background-color: $yellow;
  font-family: 'Opens Sans', sans-serif;
  font-size: .7em;
  height: 20px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}
