.homepage-div {
  margin-top: 10%;
}
.main-heading {
  width: 100%;
}

.play-button {
  border-radius: 5px;
  background-color: $yellow;
  box-shadow: 2px 5px 2px 0px  #fd9b9b;
  padding: 30px 35px;
  font-size: 5em;
  font-family: 'Muli', sans-serif;
  text-decoration: none;
  color: black;
  margin-top: 2em;
}

.h1-home {
  font-family: 'Life Savers', cursive;
  font-size: 5em;
  font-weight: bold;
  text-align: center;
  margin: auto;
}

.h3-home {
  font-family: 'Itim', cursive;
  font-size: 4em;
  text-align: center;
  margin: auto;
}

.grass {
  width: 100%;
  position:absolute;
    top: 77%;
}

.kiwi {
  width: 30%;
  position:absolute;
    top: 75%;
    right: 70%;
}

.butterfly {
  position:absolute;
    top: 15%;
    right: 70%;
  -ms-transform: rotate(40deg); /* IE 9 */
  -webkit-transform: rotate(40deg); /* Chrome, Safari, Opera */
     transform: rotate(5deg);
}

.bee {
  width: 20%;
  position:absolute;
    top: 55%;
    right: 5%;
}

@include ipadLandscape {
  .h1-home {
    font-size: 4em;
  }
  .h3-home {
    font-size: 3em;
  }
  .play-button {
    font-size: 3em;
    padding: .4em;
    margin: .4em;
  }
}

@include desklap {
  .homepage-div {
    margin-top: 5%;
  }
  .play-button {
    font-size: 3em;
  }
}
