.homeDiv {
  padding: 4em;
  text-align: center;
  font-size: 1.5em;
}

.play {
  border-radius: 5px;
  background-color: $yellow;
  box-shadow: 2px 5px 2px 0px  #fd9b9b;
  padding: 20px 35px;
  font-size: 2.5em;
  font-family: 'Muli', sans-serif;
  margin: 4px 2px;
  text-decoration: none;
  color: black;
}
