.homepage-div {
  background: url(/images/decoration-images/home/home-transparent.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 1000px;
}

.help-page {
  width: 80%;
text-align: left;
margin: auto;
}

.main-heading {
  width: 100%;
}

.main-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.play-button {
  border-radius: 5px;
  background-color: $yellow;
  box-shadow: 2px 5px 2px 0px  #fd9b9b;
  padding: 30px 35px;
  font-size: 5em;
  font-family: 'Muli', sans-serif;
  text-decoration: none;
  color: black;
  margin-top: 2em;
}

.h1-home {
  font-family: 'Life Savers', cursive;
  font-size: 5em;
  font-weight: bold;
  text-align: center;
  margin: auto;
}

.h3-home {
  font-family: 'Itim', cursive;
  font-size: 4em;
  text-align: center;
  margin: auto;
}



@include ipadLandscape {
  .h1-home {
    font-size: 4em;
  }
  .h3-home {
    font-size: 3em;
  }
  .play-button {
    font-size: 3em;
    padding: .4em;
    margin: .4em;
  }
  .homepage-div {
    height: 700px;
  }
}


@include ipadPortrait {
  .homepage-div {
    height: 800px;
  }
}


@include desklap {
  .homepage-div {
    margin-top:2%;
background-size: 62%;
  }
  .play-button {
    font-size: 3em;
  }
}


  // margin-top: 30%;
  // background-image: url(/images/decoration-images/home/home.png);
  // background-repeat: no-repeat;
  // background-size: 100%;
  // height: 900px;
