

// --------------------------------BUTTONS HERE --------------------------------

.button-radius {
    border-radius: 5px;
    background-color: $red;
    box-shadow: 2px 5px 2px 0px  #fd9bb8;
    padding: 20px 25px;
    font-size: 8.5em;
    font-family: 'Muli', sans-serif;
    margin: 4px 2px;
    text-decoration: none;
    color: black;
}

.button-radius:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}
.button-radius:hover{
   background-color: #cc9bfd;
}

.repeat {
  background-color: $light-blue;
  font-size: 2em;
  padding: .4em;
}

.new-activity {
  background-color: $light-blue;
  font-size: 2em;
  padding: .4em;
  margin: .3em 0 0;
}

.first-back {
  border-radius: 5px;
  background-color: $light-blue;
  box-shadow: 0px 5px 0px 0px $dark-blue;
  padding: 20px 35px;
  font-size: 2.2em;
  margin: 4px 2px;
  text-decoration: none;
  color: black;
  position:absolute;
    top: 80%;
    left: 20%;
}

.first-back:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}

.first-back:hover {
  background-color: #6FC6FF;
}

.first-next {
  border-radius: 5px;
  background-color: $light-blue;
  box-shadow: 0px 5px 0px 0px $dark-blue;
  padding: 20px 35px;
  font-size: 2.2em;
  margin: 4px 2px;
  text-decoration: none;
  color: black;
  position:absolute;
    top: 80%;
    left: 65%;
}

.first-next:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}

.first-next:hover {
  background-color: #6FC6FF;
}

.nav-next {
  border-radius: 5px;
  background-color: $light-blue;
  box-shadow: 0px 5px 0px 0px $dark-blue;
  padding: 20px 35px;
  font-size: 2.2em;
  margin: 4px 2px;
  text-decoration: none;
  color: black;
  position:absolute;
    top: 80%;
    left: 65%;
}
.nav-next:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}

.nav-next:hover {
  background-color: #6FC6FF;
}

.nav-back {
  border-radius: 5px;
  background-color: $light-blue;
  box-shadow: 0px 5px 0px 0px $dark-blue;
  padding: 20px 35px;
  font-size: 2.2em;
  margin: 4px 2px;
  text-decoration: none;
  color: black;
  position:absolute;
    top: 80%;
    left: 20%;
}

.nav-back:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}

.nav-back:hover {
  background-color: #6FC6FF;
}

.last-back {
  border-radius: 5px;
  background-color: $light-blue;
  box-shadow: 0px 5px 0px 0px $dark-blue;
  padding: 20px 35px;
  font-size: 2.2em;
  margin: 4px 2px;
  text-decoration: none;
  color: black;
  position:absolute;
    top: 80%;
    left: 20%;
}

.last-back:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}

.last-back:hover {
  background-color: #6FC6FF;
}

.finish {
  border-radius: 5px;
  background-color: $light-blue;
  box-shadow: 0px 5px 0px 0px $dark-blue;
  padding: 20px 35px;
  font-size: 2.2em;
  margin: 4px 2px;
  text-decoration: none;
  color: black;
  position:absolute;
    top: 80%;
    left: 65%;
}

.finish:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}
