.top-bar {
  margin: 0;
}
.top-bar-left {
  margin: 0;
}
.top-bar-right {
  margin: 0;
}

.register-container {
  background-color: $light-grey;
  border-radius: 5px;
  padding: 0;
  margin-bottom: 1em;
  margin-top: .5em;
}
.login-container {
  background-color: $light-grey;
  border-radius: 5px;
  padding: 0;
  margin-bottom: 1em;
  margin-top: .5em;
}

.register-header {
  color: $dark-blue;
  font-family: 'Muli', cursive;
  font-size: 3em;
}

.login-header {
  color: $dark-blue;
  font-family: 'Muli', cursive;
  font-size: 3em;
}

.email {
  font-size: 2em;
  height: 2.5em;
}

.password {
  font-size: 2em;
  height: 2.5em;
}

.username {
  font-size: 2em;
  height: 2.5em;
}

.confirmPassword {
  font-size: 2em;
  height: 2.5em;
}

@include ipadPortrait {
  .register-container {
    background-color: $light-grey;
    border-radius: 5px;
    padding: 0;
    margin-bottom: 1em;
    margin-top: .5em;
  }
  .login-container {
    background-color: $light-grey;
    border-radius: 5px;
    padding: 0;
    margin-bottom: 1em;
    margin-top: .5em;
  }

  .register-header {
    color: $dark-blue;
    font-family: 'Muli', cursive;
    font-size: 3em;
  }

  .login-header {
    color: $dark-blue;
    font-family: 'Muli', cursive;
    font-size: 3em;
  }
  .email {
    font-size: 1.5em;
    height: 2em;
  }

  .password {
    font-size: 1.5em;
    height: 2em;
  }

  .username {
    font-size: 1.5em;
    height: 2em;
  }

  .confirmPassword {
    font-size: 1.5em;
    height: 2em;
  }
}

@include ipadLandscape {
  .register-container {
    background-color: $light-grey;
    border-radius: 5px;
    padding: 0;
    margin-bottom: 1em;
    margin-top: .5em;
  }
  .login-container {
    background-color: $light-grey;
    border-radius: 5px;
    padding: 0;
    margin-bottom: 0;
    margin-top: .5em;
  }

  .register-header {
    color: $dark-blue;
    font-family: 'Muli', cursive;
    font-size: 2em;
    margin-top:0;
  }

  .login-header {
    color: $dark-blue;
    font-family: 'Muli', cursive;
    font-size: 2em;
    margin-top: 0;
  }

  .email {
    font-size: 1em;
    height: 1.7em;
  }

  .password {
    font-size: 1em;
    height: 1.7em;
  }

  .username {
    font-size: 1em;
    height: 1.7em;
  }

  .confirmPassword {
    font-size: 1em;
    height: 1.7em;
  }
}
