.container {
  background-color: $light-grey;
  border-radius: 5px;
  padding: 0;
  margin-bottom: 10em;
  margin-top: 5em;
}

h3 {
  color: $dark-blue;
  font-size: 5rem;
  margin-bottom: 1em;
}

.email {
  font-size: 2em;
  height: 2.5em;
}

.password {
  font-size: 2em;
  height: 2.5em;
}

@include ipadPortrait {
  h3 {
    font-size: 4rem;
  }
  .container {
    margin-bottom: 6em;
    margin-top: 5em;
  }
  .input-box {
    height:rem;
    font-size: 1.5rem;
  }
}
