.top-bar, .top-bar ul {
  background-color: $nav-background;
  text-transform: uppercase;
  margin-bottom:1em;
  font-weight: 700;
  padding: 5px 0;
}

.top-bar {
  .menu-text {
    font-size: 2.5em;
    font-family: 'Itim', cursive;
  }
  .menu > .menu-text > a {
        color: $nav-text-color;
    display: inline;
    padding: 0;
  }
  .active-link {
    font-weight: bold;
    color: $dark-blue;

  }
  .nav-text {
    font-size: 2.5em;
  }
}

@include ipadLandscape {
  .top-bar {
    height: 4em;
    .menu-text {
      font-size: 1.7em;
    }
    .nav-text {
      font-size: 1.6em;
    }
  }
}

@include desklap {
  .top-bar {
    .menu-text {
      font-size: 1.5em;
    }
    .nav-text {
      font-size: 1.6em;
    }
  }
  .top-bar, .top-bar ul {
    margin-bottom: .5em;
    padding: 5px 0;
  }
}
