.top-bar, .top-bar ul {
  background-color: $nav-background;
  text-transform: uppercase;
   margin: 0;
   font-weight: 900;
   padding: 5px 0;
}

.top-bar {
  .menu-text {
    color: $nav-text-color;
    font-size: 2.2em;
    font-family: 'Itim', cursive;
  }
  .menu > .menu-text > a {
    display: inline;
    padding: 0;
  }
  .active-link {
    font-weight: bold;
    color: $dark-blue;

  }
  .nav-text {
    font-size: 2.2em;
  }
}

@include smallwindow {
  .top-bar {
    .menu-text {
      font-size: 1.3em;
    }
    .nav-text {
      font-size: 1.2em;
    }
  }
}

@include tablet {
  .top-bar {
    .menu-text {
      font-size: 1.7em;
    }
    .nav-text {
      font-size: 1.3em;
    }
  }
}

@include smalldesk {
  .top-bar {
    .menu-text {
      font-size: 1.4em;
    }
    .nav-text {
      font-size: 1.2em;
    }
  }
}

@include largedesk {
  .top-bar {
    .menu-text {
      font-size: 1.3em;
    }
    .nav-text {
      font-size: 1.2em;
    }
  }
}
