.playBox {
  background-color: red;
  width: 90%;
  border: solid 5px;
  display: flex;
  align-items: center;

}

.playBox{
  .letter1Position{

  }

  .letter2Position{

  }
  .letter3Position{

  }
}
