
.header-words {
  h1{
    margin-top: 10rem;
  }
}

.big-music-sound-words {
  position:absolute;
    top: 11%;
    left: 1%;
    h1 {
      font-size: 6.5em;
      color: $dark-blue;
    }
}


.listen-sound-words {
  border-radius: 5px;
  background-color: $red;
  box-shadow: 2px 5px 2px 0px  #fd9bb8;
  padding: 20px 25px;
  font-size: 3.5em;
  font-family: 'Muli', sans-serif;
  margin: 4px 2px;
  text-decoration: none;
  color: black;
}

.listen-sound-words:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}

.listen-sound-words:hover{
   background-color: #cc9bfd;
}
