.modal {
  top: 20%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.correct {
  font-size: 6em;
  margin: .5em;
  font-family: 'Itim', cursive;
}

.next-letter {
  background-color: $light-blue;
  font-size: 6em;
  padding: .4em;
}

.welcome-prac {
  font-size: 4em;
  font-family: 'Itim', sans-serif;
  padding: .3em;
}

.note-word {
  position:absolute;
  top: 63%;
  left: 35%;
  font-size: 7em;
  color: $dark-blue;
}

.listen-sound-words {
  border-radius: 5px;
  background-color: $red;
  box-shadow: 2px 5px 2px 0px  #fd9bb8;
  padding: 20px 25px;
  font-size: 3.5em;
  font-family: 'Muli', sans-serif;
  margin: 4px 2px;
  text-decoration: none;
  color: black;
}

.listen-sound-words:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}

.listen-sound-words:hover {
   background-color: #cc9bfd;
}


@include ipadPortrait {
  .welcome-prac {
    font-size: 3em;
    font-family: 'Itim', sans-serif;
    padding: .3em;
  }
  .note-word {
    position:absolute;
    top: 40%;
    left: 40%;
    font-size: 4.5em;
  }
}

@include ipadLandscape {
  .welcome-prac {
    font-size: 3em;
    font-family: 'Itim', sans-serif;
    padding: .3em;
  }
  .note-word {
    font-size: 4em;
  }
  .listen-sound-words {
    padding: 20px 25px;
    font-size: 2em;
    font-family: 'Muli', sans-serif;
    margin: 4px 2px;
    text-decoration: none;
    color: black;
  }
}
