.note-prac-sounds {
  width: 100%;

  .row {
    width: 100%;

    .listen-answer-button {
      font-size: 1.5em;
      padding: 1em;
    }
    .welcome-letters {
      font-size: 4em;
      font-family: 'Itim', sans-serif;
      padding: 1em;
      width: 100%;
    }
    .play-box-ps {
      background-color: $yellow;
      width: 100%;
      border: solid 5px;
      border-radius: 4%;
      margin-left: 3em;
      margin-top: 5em;
      height: 30em;
    }

    .listen-sound-buttons {
      border-radius: 5px;
      background-color: $red;
      box-shadow: 2px 5px 2px 0px  #fd9bb8;
      padding: .3em;
      font-size: 2em;
      font-family: 'Muli', sans-serif;
      margin: .4em;
      text-decoration: none;
      color: black;
      }
    }
}

.listen-sound-buttons:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}

.listen-sound-buttons:hover{
   background-color: #cc9bfd;
}

.prac-sounds-modal {
  padding-top: 3em;
  margin-left: 14%;
  margin-top: 5%;
  min-height: 30%;
  min-width: 70%;
  position: fixed;
  top: 10%;
  background-color: $light-grey;
  .repeat {
    background-color: $light-blue;
    font-size: 3.5em;
    padding: .4em;
    margin: 1em 0 0;
  }
  .new-activity {
    background-color: $light-blue;
    font-size: 3.5em;
    padding: .4em;
    margin: 1em;
  }
  .correct {
    font-size: 4em;
    margin: .5em;
    font-family: 'Itim', cursive;
  }
  .next-letter {
    background-color: $light-blue;
    font-size: 5em;
    padding: .4em;
  }
}


@include phoneLand {
  .welcome-letters {
    font-size: 2em;
    padding: .2em;
  }

  .listen-sound-buttons {
    font-size: 4em;
    margin: .4em;
  }
  .note {
    top: 60%;
    left: 30%;
    font-size: 3em;
  }
  .play-box {
    margin-left: 6.5em;
    margin-top: 1.5em;
    height: 13em;
  }
}

@include ipadBoth {
  .listen-sound-buttons {
    padding: .3em;
    font-size: 6em;
    margin: .4em;
  }
}

@include ipadPortrait {
  .listen-sound-buttons {
    padding: .3em;
    font-size: 6em;
    margin: .4em;
  }
  .welcome-letters {
    font-size: 3em;
    padding: .3em;
  }
  .note {
    top: 60%;
    left: 25%;
    font-size: 5em;
  }
}

@include ipadLandscape {
  .welcome-letters {
    font-size: 2.5em;
    padding: .3em;
  }

  .listen-sound-buttons {
    font-size: 5em;
    margin: .4em;
  }
  .note {
    top: 55%;
    left: 30%;
    font-size: 4em;
  }
  .play-box {
    margin-left: 6.5em;
    margin-top: 1.5em;
    height: 18em;
  }
}

@include desklap {

  .play-box {
    margin-left: 8em;
    margin-top: 1.5em;
    height: 20em;
  }

  .welcome-letters {
    font-size: 3em;
    margin-top: .5em;
    margin-bottom: 1em;
  }

  .listen-sound-buttons {
    font-size: 3.5em;
    margin: 1em;
    min-width: 2em;
  }

  .note {
    top: 60%;
    left: 30%;
    font-size: 4em;
  }

  .prac-sounds-modal {
    padding-top: .5em;
    margin-left: 21%;
    margin-top: 5%;
    min-height: 30%;
    min-width: 60%;
    top: 10%;
      .repeat {
      font-size: 2.5em;
      padding: .4em;
      margin: .5em 0 0;
    }
    .new-activity {
      font-size: 2.5em;
      padding: .4em;
      margin: .5em;
    }
    .correct {
      font-size: 3em;
      margin: .2em;
    }
    .next-letter {
      font-size: 3em;
      padding: .4em;
    }
  }
}
