body {
  background-color: white;
}

h1 {
  font-size: 3em;
  text-align: center;
}

img {
  float: right;
}

.welcome {
  margin: auto;
  text-align: center;
  border-width: medium;
  border-color: black;
  border-style: solid;
  width: 50%;
  margin-top: 2em;
}
.navBar {
  margin: auto;
}
.navList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navListItem {
  display: inline-block;
  width: 10%

}

.navListItem a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.navListItem a:hover {
    background-color: #111;
}
.userProfile {
  margin: auto;
  padding: 1em;
  text-align: center;
  border-width: medium;
  border-color: black;
  border-style: solid;
  width: 50%;
  margin-top: 2em;
}
