@import "../../node_modules/foundation-sites/scss/foundation";
@import url('https://fonts.googleapis.com/css?family=Itim|Life+Savers|Open+Sans|Muli');

//Foundations
@include foundation-flex-grid;
@include foundation-flex-classes;
@include foundation-everything;

//Variables
@import './base/variables';

//Media Query

@import './base/media-query';

//Components
@import './components/activity';
@import './components/footer';
@import './components/home';
@import './components/learn-sounds';
@import './components/learn-words';
@import './components/login-register-form';
@import './components/nav';
@import './components/practice-sounds';
@import './components/practice-words';
@import './components/players-home';



body {
  background: $light-grey;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  padding: 0;
}
